.container {
  box-sizing: border-box;
  max-width: 90vw;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.container-2 {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.container-3 {
  box-sizing: border-box;
  max-width: 720px;
  height: 560px;
  padding-top: 30px;
  padding-left: 80px;
  padding-right: 80px;
  margin-left: auto;
  margin-right: 0;
}

.container-4 {
  box-sizing: border-box;
  max-width: 500px;
  height: 300px;
  padding-top: 30px;
  padding-left: 80px;
  padding-right: 80px;
  margin-right: 0;
  margin-left: auto;
}

.botao {
  display: inline-block;
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 12px 64px;
  cursor: pointer;
  max-width: max-content;
  max-height: max-content;
}

.botao.secundario {
  background: transparent;
}

@media (max-width: 600px) {
  .botao {
    padding: 8px 32px;
  }
}
