.footer{
  background: var(--cor-paleta5);
  padding: 10px;
  color: var(--cor-paleta2);
}

.footer p{
  text-align: center;
  font-size: 16px;
  line-height: 25.6px;
  font-family: 'Inter', sans-serif;
}