.header-bg{
  background-color: #000000;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 20px;
  color: white;
}


.header-logo{
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 16px;
  padding-bottom: 16px;
}

.header-menu {
  display: flex;
  gap: 40px;
}

.header-menu li a{
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
}