.header-bg {
  margin-top: 30px;
}

.header {
  background: var(--cor-0);
  padding: 20px;
  gap: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  letter-spacing: 0.8;
  /* text-transform: uppercase; */
  font-family: "Inknut Antiqua", serif;
}

.header-redes {
  display: flex;
  align-items: center;
  /* background: var(--cor-paleta3); */
  display: flex;
  gap: 20px;
  position: relative;
}

.header-redes a::after{
  content: "";
  display: block;
  height: 2px;
  width: 0;
  margin-top: 4px;
  background-color: var(--cor-paleta4);
  transition: 0.3s;
  position: absolute;
}

.header-redes a:hover::after,
.header-redes a.ativo::after {
  width: 15px; /*sobrinhado completo de fora a fora*/
}

@media (max-width: 350px){
  .header{
    display: grid;
    justify-content: center;
  }
  .header-redes{
    display: none;
  }
}