.header-bg {
  height: 100vh;
  background: black url(../../img/home-bg4.jpg) center top no-repeat fixed;
  background-size: cover;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 0px;
  position: relative;
  color: white;
}

.header-menu {
  display: flex;
  gap: 10px;
}

.header-img {
  position: absolute;
  top: 0px;
  z-index: -1;
}

main {
  margin-bottom: 2000px;
}
