.formulario {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.formulario-info-bg {
  background: url(../../img/formulario-bg.jpg) center center no-repeat fixed;
  background-size: cover;
}

.formulario-info {
  background: var(--cor-paleta3);
  color: var(--cor-1);
  position: relative;
  top: -150px;
  right: -10%;
}

.formulario-info h2 {
  font-family: "Inknut Antiqua", serif;
  font-weight: 300;
  font-size: 40px;
  line-height: 56px;
  text-align: center;
  margin-bottom: 64px;
}

.formulario-info p {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 22.5px;
  font-weight: 300;
  text-align: center;
}

.formulario-dados {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 400px;
  margin: 0 auto;
  padding: 150px 0;
}

.formulario-dados label {
  display: block;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  line-height: 17px;
  margin-bottom: 4px;
}

.formulario-dados .col-2 {
  grid-column: span 2;
}

.formulario-dados input[type="text"],
.formulario-dados input[type="email"],
.formulario-dados textarea {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  line-height: 17px;
  background: transparent;
  border: 1px solid var(--cor-2);
  border-bottom: 1px solid #000000;
  padding: 12px;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.botao-formulario {
  grid-column: span 2;
  line-height: 0px;
  padding: 0px 32px;
  display: inline-block;
  border: 1px solid var(--cor-paleta5);
  padding: 16px 32px;
  border-radius: 4px;
  cursor: pointer;
  background: var(--cor-paleta6);
  color: var(--cor-0);
  font-size: 18px;
}

@media (max-width: 1000px) {
  .formulario {
    grid-template-columns: 1fr;
  }
  .formulario-info-bg {
    height: 60vh;
  }
  .formulario-info {
    right: 0px;
  }
}

@media (max-width: 500px) {
  .nome,
  .sobrenome {
    grid-column: span 2;
  }
}

@media (max-width: 400px) {
  .formulario-dados{
    padding-left: 20px;
    padding-right: 20px;
  }
  .nome,
  .sobrenome {
    grid-column: span 2;
  }
}
